In [8]:
import pandas as pd
import numpy as np

df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

In [4]:
df2

NameError: name 'df2' is not defined

In [5]:
import numpy as np
import pandas as pd
labels = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [10]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
d

{'a': 10, 'b': 20, 'c': 30}

In [15]:
pd.Series(arr)

0    a
1    b
2    c
dtype: object

In [16]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [17]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [18]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [19]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [20]:
ser1['USA']

1

In [21]:
ser3 = pd.Series(labels)

In [23]:
ser3[0]

'a'

In [24]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64