In [1]:
txt = "My name is {} and my last name is {}. I am {} years old."
name = "Gulkhan"
lastName = "Anassova"
age = 31
print(txt.format(name, lastName, age))

My name is Gulkhan and my last name is Anassova. I am 31 years old.

In [7]:
price = 50
txt = "The price is {:.2f} dollars"
print(txt.format(price))

The price is 50.00 dollars

In [8]:
apples = 6
txt = 'At Whole food apples cost ${:.2f}.'
print(txt.format(apples))

At Whole food apples cost $6.00.

In [10]:
txt = input('What is you favorite number?')
print('my favorite number is ' + txt)

What is you favorite number?56
my favorite number is 56

In [11]:
import platform

x = platform.system()
print(x)

Windows

In [18]:
def func():
    print("Hello my func!")
func()

Hello my func!

In [22]:
def func(fname):
    print(fname + "Anassova")
func('Gulkhan ')
func('Assel ')
func('Slushahsh ')

Gulkhan Anassova
Assel Anassova
Slushahsh Anassova

In [23]:
def name(fname, lname):
    print(fname+" "+lname)
name("Gulkhan", "Anassova")

Gulkhan Anassova

In [30]:
def func(*kids):
    print("The youngest kids are " + kids[2] +', ' + kids[ 0])
    
func("Rome", "Vanya", "Larisa")

The youngest kids are Larisa, Rome

In [32]:
def func(kids):
    for x in kids:
        print(x)
name = ('Masha', 'Nastya', 'Zhenya')
func(kids)

Masha
Nastya
Zhenya

In [40]:
def func():
    x = "The weather is chilly"
    print(x)
func()

The weather is chilly

In [1]:
1

1

In [2]:
0.5

0.5

In [3]:
1*6

6

In [4]:
1/2

0.5

In [5]:
x=12

In [6]:
x

12

In [7]:
y=67

In [8]:
y

67

In [9]:
y="Hello"
y

'Hello'

In [10]:
print y

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(y)? (<ipython-input-10-3bd31d684b1f>, line 1)

In [11]:
print(y)

Hello

In [12]:
num = 23
name = 'Sam'
print('My name is {}. I am {} years old. format(name,num)')

My name is {}. I am {} years old. format(name,num)

In [13]:
My name is {}. I am {} years old. format(name,num)

SyntaxError: invalid syntax (<ipython-input-13-e0e5dce8eb61>, line 1)

In [14]:
'My number is {} and my name is {}'. format(num,name)

'My number is 23 and my name is Sam'

In [15]:
print('My number is {} and my name is {}'. format(num,name))

My number is 23 and my name is Sam

In [16]:
y = 'hello'
y[0]

'h'

In [17]:
y[2:5]

'llo'

In [18]:
y[2:4]

'll'

In [19]:
y='abcdefg'
y

'abcdefg'

In [21]:
y[3:5]

'de'

In [22]:
list = [1,2,3,4]
list

[1, 2, 3, 4]

In [23]:
list[4]

IndexError: list index out of range

In [24]:
list[3]

4

In [25]:
list.append(5)

In [26]:
list

[1, 2, 3, 4, 5]

In [27]:
list[0] = 'new'

In [28]:
list

['new', 2, 3, 4, 5]

In [29]:
nest = [1,2,3,[5,6]]
nest

[1, 2, 3, [5, 6]]

In [30]:
nest[3]

[5, 6]

In [31]:
nest[3][0]

5

In [36]:
def my_func(par1):
    print('hello' + par1)
my_func('Zhan')

helloZhan

In [37]:
"""Exercises from Python Crash course"""
7**4

2401

In [38]:
s = "Hi there Sam"
s.split()

['Hi', 'there', 'Sam']

In [42]:
planet = 'Earth'
diameter = 12742
print("The diameter of {} is {} kilometers". format(planet,diameter))

The diameter of Earth is 12742 kilometers

In [43]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst

[1, 2, [3, 4], [5, [100, 200, ['hello']], 23, 11], 1, 7]

In [49]:
lst[3][1][2]

['hello']

In [54]:
lst[3][1][2][0]

'hello'

In [55]:
d = {'k1':[1,2,3{'tricky:['oh','man','inception',{'target':[1,2,3,'hello']}]'}]}
d[0]

SyntaxError: invalid syntax (<ipython-input-55-ee0db7fe9daf>, line 1)

In [56]:
d[k1]

NameError: name 'd' is not defined

In [58]:
d[k1:1,2,3]

NameError: name 'd' is not defined

In [59]:
d['k1']

NameError: name 'd' is not defined

In [66]:
def domainGet(email):
    return email.split("@")[1]
domainGet('user@domain.com')

'domain.com'

def findDog(par1):
    return True
findDog('Is there a dog there?')

In [67]:
def findDog(par1): 
    return True 
findDog('Is there a dog there?')

True

In [71]:
seq = ['soup', 'dog', 'salad', 'cat']
seq

['soup', 'dog', 'salad', 'cat']

In [78]:
def caught_speeding(speed):
    if speed >= 60:
        print('no ticket')
    elif speed <=61 and speed >= 80:
        print("Small ticket")
    else:
        'Big ticket'
caught_speeding(60)

no ticket

In [80]:
def add(x, y):
    return x + y

In [81]:
add(3,4)

7

In [82]:
add(45.9,56)

101.9

In [83]:
def add(x, y=5):
    return x + y

In [84]:
add(5)

10

In [85]:
add(4,5)

9

In [86]:
add(.8)

5.8

In [101]:
def greet(name):
    print("Hello " + name + ".Good morning")

greet("Gulkhan")

In [98]:
def greet(name):
	"""This function greets to
	the person passed in as
	parameter"""
	print("Hello, " + name + ". Good morning!")

In [100]:
greet("Paul")

Hello, Paul. Good morning!

In [108]:
def greet(name):
    print(name + ", how u doing there?")

In [109]:
greet('Sole')

Sole, how u doing there?

In [110]:
def abs(num):
    if num >= 0:
        return num
    else:
        return -num

In [112]:
print(abs(5))

5

In [113]:
print(abs(-6))

6

In [114]:
def my_func():
	x = 10
	print("Value inside function:",x)

x = 20
my_func()
print("Value outside function:",x)

Value inside function: 10
Value outside function: 20

In [115]:
def greet(name,msg):
   """This function greets to
   the person with the provided message"""
   print("Hello",name + ', ' + msg)

greet("Monica","Good morning!")

Hello Monica, Good morning!

In [116]:
def greet(name, msg):
    print("Hello " + name +", " + msg)

In [117]:
greet("Mon", "GM")

Hello Mon, GM

In [118]:
def greet(name, msg = "Good morning"):
    print("Hello " + name +" " + msg)

In [119]:
greet("Kate")

Hello Kate, Good morning

In [124]:
greet("Zhan", "How are you?")

Hello Zhan, How are you?

In [127]:
def greet(*names):
    for name in names:
        print("Hello " + name +"!")

In [128]:
greet("Monica", "Kate", "Klara")

Hello Monica!
Hello Kate!
Hello Klara!

In [129]:
def cal(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return (x * cal(x-1))

num = 4
print("The factorial of", num, "is", cal(num))

The factorial of 4 is 24

In [130]:
###anonomyos
double = lambda x: x **3

In [131]:
double(5)

125

In [132]:
print(double(5))

125

In [133]:
def double(x):
    return x **2

In [134]:
double(5)

25

In [145]:
foo(x)

x is inside global variables

In [149]:
x = "global"

def foo():
    print("x inside :", x)

foo()
print("x outside:", x)

x inside : global
x outside: global

In [153]:
def foo():
    y = "local"
    print(y)

In [154]:
foo()

local

In [157]:
x = "global"

def foo():
    global x
    y = "local"
    x = x * 2
    print(x)
    print(y)

In [158]:
foo()

globalglobal
local

In [164]:
def outer():
    x = "local"
    def inner():
        nonlocal x
        x = "nonlocal"
        print("inner is", x)
    inner()
    print("outer is ", x)

outer()

inner is nonlocal
outer is  nonlocal

In [165]:
def outer():
    x = "local"
    
    def inner():
        nonlocal x
        x = "nonlocal"
        print("inner:", x)
    
    inner()
    print("outer:", x)

outer()

inner: nonlocal
outer: nonlocal

In [168]:
c=6 ## global variable
def add():
    print (c)

In [169]:
add()

6

In [170]:
c = 9

def add():
    global c
    c= c+2
    print("inside add", c)

In [171]:
add()

inside add 11

In [172]:
print("outcide add is ", c)

outcide add is  11

In [174]:
##nested func inside global var

def foo():
    x = 25
    def bar():
        global x
        x = 35
    print("x before calling bar is", x)
    print("calling bar now")
    bar()
    print("called bar is ", x)
foo()
print("x is main", x)

x before calling bar is 25
calling bar now
called bar is  25
x is main 35

In [177]:
#nesting loops
num = float(input("Enter a number?"))
if num >=0:
    if num == 0:print ("Equal to 0")
    else: print("positive number")
else:
    print("negative number")

Enter a number?-5
negative number

In [180]:
list = [3,4,5]
sum = 0
for num in list:
    sum = sum + num
print(sum)

12

In [192]:
digits = [1,2,3]
for i in digits:
    print(i)
else:
    print("no left numbers")

1
2
3
no left numbers

In [191]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [202]:
num = float(input('Enter a  number: '))

i = 1
sum = 0

while i <= num:
    sum = sum + i
    i = i + 1 ## update counter
print ("number is ", sum)

Enter a  number: 2
number is  3

In [197]:
n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

The sum is 55

In [203]:
67

67

In [204]:
sequence = {'p', 'a', 's', 's'}
for val in sequence:
    pass

In [213]:

for val in 'pass':
    if val == 's':
        break
    print(val)

p
a

In [214]:
for val in 'continue':
    if val == 'e':
        break
    print(val)

c
o
n
t
i
n
u

In [216]:
for val in 'pass':
    if val == 's':
        pass

In [217]:
"""
Grader module to evaluate letter grade from students' collective scores.
"""

def convert_points_to_letter(point):
    """
    Converts a given point to a letter grade.
    Parameters:
    A number in range of 0 to 100.
    Returns:
    Letter grade.
    """
    if point >= 94:
        grade = 'A'
    elif point >= 87 and point < 94:
        grade = 'A-'
    elif point >= 83 and point < 86:
        grade = 'B+'
    elif point >= 80 and point < 83:
        grade = 'B'
    elif point >= 77 and point < 80:
        grade = 'B-'
    elif point >= 73 and point < 77:
        grade = 'C'
    elif point >= 67 and point < 73:
        grade = 'C-'
    elif point in range(60, 67):
        grade = 'D'
    else:
        grade = 'F'

    return grade

In [218]:
convert_points_to_letter(77)

'B-'

In [219]:
convert_points_to_letter(90)

'A-'

In [220]:
convert_points_to_letter(94)

'A'

In [239]:
def calculate_letter_grade(assignments: list, final_project: int, midterm: int, return_grade=True):
    """
    Calculates a letter grade based on student scores.
    Parameters:
    assignments   - A list of student scores 
    final_project - Final project score
    return_grade  - Returns letter grade if True.
    Returns:
    A grade from the letter grade scale.
    """
    # weights
    pct_assignment = 0.25
    pct_midterm = 0.25
    pct_final_project = 0.50

    # if bonus is given
    if len(assignments) == 6:
        lowest_score = min(assignments)
        lowest_index = assignments.index(lowest_score)
        assignments.pop(lowest_index)

    # points earned
    points_assignments = (sum(assignments) / len(assignments)) * pct_assignment
    points_midterm = midterm * pct_midterm
    points_final_project = final_project * pct_final_project

    # getting final points
    total_points = round(
        points_assignments + points_midterm + points_final_project, 1)

    if return_grade:
        return convert_points_to_letter(total_points)

    return total_points
if __name__ == "__main__":

SyntaxError: unexpected EOF while parsing (<ipython-input-239-f730190a20a8>, line 37)